* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    #00bfa5 0px,
    #009788 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
    font-family: 'Roboto';
}

/* common */

.d-flex {
  display: flex;
}

.flex-col {
  flex-flow: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.space-around {
  justify-content: space-around;
}

.v-align {
  align-items: center;
}

.d-inline {
  display: inline-block;
}

.d-none {
  display: none;
}

/* contenitori */
.app {
  display: flex;
  position: relative;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}

.contact {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #b1b1b1;
}

.chat {
  width: 60%;
  height: 100%;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

/* elementi contenitore contatti sinistra */
.user {
  height: 60px;
  width: 100%;
  background-color: #eaeaea;
  align-items: center;
  justify-content: flex-start;
}

.user-info {
  width: 50%;
}

.user-utilities {
  width: 50%;
  color: grey;
}

.user-utilities > * {
  margin: 15px;
}

.user-info > img {
  width: 50px;
  border-radius: 25px;
  margin: 5px 10px;
}

.call-to-action {
  height: 60px;
  width: 100%;
  background-color: #2bd888;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bell {
  background-color: #f2fbff;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.bell > * {
  color: #00e676;
  font-size: 15px;
}

.call-to-action div:last-child {
  width: 80%;
}

.call-to-action div:last-child span {
  font-size: 12px;
}

.call-to-action div:last-child a {
  font-size: 10px;
  color: grey;
}

.search {
  height: 35px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search label {
  color: grey;
  margin-left: 10px;
}

.search > input {
  width: 80%;
  height: 80%;
  margin: auto;
}

.people {
  height: 75px;
  width: 100%;
  background-color: #ffffff;
  list-style: none;
}

.people > li {
  border-bottom: 1px solid #b1b1b1;
  height: 100%;
}

.people > li:hover {
  background-color: #eaeceb;
  transition: 0.3s;
}

.people li > img {
  width: 50px;
  height: 75%;
  border-radius: 25px;
  margin-right: 15px;
  margin-left: 10px;
}

.preview {
  color: grey;
  font-size: 15px;
}

.selected {
  background-color: #eaeceb;
}

/* elementi contenitore chat destra */

/* intestazione */
.chat-header {
  height: 60px;
  width: 60%;
  background-color: #eaeaea;
  z-index: 2;
  position: fixed;
}

.active-contact {
  width: 50%;
}

.chat-icons {
  color: grey;
  width: 50%;
  justify-content: flex-end;
}

.chat-icons > span {
  margin-right: 20px;
  font-size: 15px;
}

.active {
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;

}

.active div > img {
  width: 50px;
  border-radius: 25px;
  margin: 5px 10px;
}

.chat-main {
  margin-top: 60px;
  height: calc(100% - 60px - 10%);
  background-image: url('../resources/img/mine.jpg');
  position: relative;

}

.emoticons {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
  background-color: white;
}

.emoticons > span {
  cursor: pointer;
  flex-wrap: wrap;

}

.lastSeen {
  color: grey;
}

.message {
  max-width: 50%;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  align-self: flex-start;
  word-break: break-all;
}

.receive {
  background-color: #ffffff;
}

.send {
  background-color: #D5F9BA;
  align-self: flex-end;
  margin-right: 10px;
}

.answer {
  visibility: hidden;
}

.last {
  color: grey;
  font-size: 12px;
}

/* input utente */
.chat-footer {
  height: 10%;
  background-color: #eaeaea;
  align-items: center;
  justify-content: center;
}

.chat-footer span:first-child,
.chat-footer span:last-child  {
  color: grey;
  font-size: 20px;
  margin-right: 5%;
}

.chat-footer span:last-child {
    margin-left: 5%;
}

.chat-footer > input {
  width: 75%;
  height: 70%;
  border-radius: 5px;
  box-shadow: 0.2px 0.2px 0.2px 0.2px  #888888;
  border: none;
  background-color: #ffffff;
}
