* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    #009688 0px,
    #009688 15vh,
    #dddbd4 15vh,
    #dddbdc 100%);
    font-family: 'Roboto';
}

/* contenitori */
.app {
  display: flex;
  position: relative;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}

.contact {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #b1b1b1;
}

.chat {
  background-color: blue;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

/* elementi contenitore contatti sinistra */
.user {
  height: 60px;
  width: 100%;
  background-color: #eaeaea;
}

.user-info > img {
  width: 50px;
  border-radius: 25px;
}

.call-to-action {
  height: 60px;
  width: 100%;
  background-color: #8edafc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bell {
  background-color: #f2fbff;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell > * {
  color: #8edafc;
  font-size: 15px;
}

.call-to-action div:last-child {
  width: 80%;
}

.call-to-action div:last-child span {
  font-size: 12px;
}

.call-to-action div:last-child a {
  font-size: 10px;
}

.search {
  height: 35px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > input {
  width: 80%;
  height: 80%;
  margin: auto;
}

.people {
  height: 75px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #b1b1b1;
}

.people > img {
  width: 50px;
  border-radius:
}

/* elementi contenitore chat destra */
.chat-header {
  height: 60px;
  width: 60%;
  background-color: #eaeaea;
  z-index: 2;
  position: fixed;
}

.chat-main {
  overflow: hidden;
  height: 100%;
  background-image: url('../resources/img/mine.jpg');
}

.chat-footer {
  height: 100px;
  background-color: pink;
}
