<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- CSS Frameworks -->

    <!-- googlefonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/master.css">

    <!-- Custom JS Functions -->
		<!-- <script src="js/functions.js" charset="utf-8"></script> -->

    <!-- VUE (CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body class="wrapper">

    <!-- app web -->
    <div id="root" class="app">

      <!-- colonna contatti di sinistra -->
      <div class="contact">

        <!-- mio profilo -->
        <div class="user d-flex v-align">
          <div class="user-info d-flex v-align">

            <!-- bindo l'oggetto dellutente -->
            <img :src="myUsername.photo" alt="Utente">
            <span>{{myUsername.username}}</span>

          </div>

          <!-- icone utili -->
          <div class="user-utilities">

          </div>
        </div>

        <!-- Invito attivazione notifiche -->
        <div class="call-to-action">
          <div class="bell">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div>
            <span>Ricevi notifiche di nuovi messaggi</span> <br>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>

        <!-- barra ricerca contatti -->
        <div class="search">
          <label for="search">
            <i class="fas fa-search"></i>
          </label>
          <input
          type="text"
          placeholder="Cerca o inizia una nuova chat"
          value=""
          v-model="searchInput"
          @keyup.enter="filterContacts()"
          >

        </div>

        <!-- lista contatti -->
        <ul class="people">

          <!-- aggancio gli oggetti agli li -->
          <template v-if="searchInput.length > 0">
            <li
            class="d-flex v-align"
            v-for="(element, index) in filteredContacts"
            @click="activateFilteredContact(index)"
            :class="{selected: index === counter}"
            >
            </li>
          </template>

          <template v-else>
            <li
            class="d-flex v-align"
            v-for="(element, index) in contacts"
            @click="contactChat(index)"
            :class="{selected: index === counter}"
            >
            </li>
          </template>

          <!-- aggancio la chiave foto a img -->
          <img :src="element['photo']" alt="">

             <!-- e i nomi  -->
          <div class="flex-end">


            <span>{{element.username}}</span> <br>
            <span>{{element.lastSeen}}</span>

          </div>
        </ul>
      </div>

      <!-- colonna chat di destra -->
      <div class="chat d-flex">

        <!-- barra chat superiore -->
        <div class="chat-header">
          <div class="active d-flex flex-start">
            <div>
              <img :src="contacts[counter].photo">
            </div>


            <div>

              <h3>{{contacts[counter].username}}</h3> <br>
              <span>Ultimo accesso oggi alle</span>
            </div>

          </div>
        </div>

        <!-- messaggi utenti -->
        <div class="chat-main d-flex flex-col">

          <div>
            <div class="message d-flex"
            :class="{receive : element.type == 'receive', send : element.type == 'send'}"
            v-for="element in contacts[counter].chatHistory"
            >
              <!-- ricevuti -->
              <span>{{element.text}}</span>

            </div>
          </div>
        </div>

        <!-- input utente chat -->
        <div class="chat-footer d-flex flex-end">

          <!-- salvo il contenuto del messaggio in una variabile -->
          <input type="text"
          placeholder="Scrivi un messaggio"
          v-model="inputMessage"
          @keyup.enter="sendMessage()"
          >

        </div>
      </div>
    </div>



  <!-- script -->
  <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
